<p id="notice"><%= notice %></p>

<h1>Capstone Companies</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Focus Room #</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= link_to(team.name, team) %></td>
        <td><%= team.description %></td>
        <td><%= team.focus_room_number %></td>
        <td><%= link_to 'Edit', edit_team_path(team) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path %>
