<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @team.description %>
</p>

<p>
  <strong>Focus Room Number:</strong>
  <%= @team.focus_room_number %>
</p>

<p>
  <strong>Members</strong>
  <%= @member %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
